.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.todoFormContainer input {
    width: 25%;
    height: 30px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline-color: rgb(156, 213, 213);
}
